# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: cabal
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]
        ghc: ['9.6.7']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
        uses: actions/cache@v4
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal', 'cabal.project', 'cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      - name: Set up GHC
        uses: haskell-actions/setup@v2.8.2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: '3.12.1.0'
      - name: Install xmllint on Ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - name: Install xmllint on macOS
        if: runner.os == 'macOS'
        run: |
          brew install libxml2
      - name: Update package list
        run: cabal update
      - name: Build project
        run: cabal build all
      - name: Run tests
        run: cabal test all
