# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: cabal
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  cabal:
    strategy:
      matrix:
        os: [macos-15, ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - id: setup
        uses: haskell-actions/setup@v2.10.3
        with:
          ghc-version: '9.6.7'
          cabal-version: '3.12.1.0'
      - if: runner.os == 'Linux'
        uses: zauguin/install-texlive@v4.0.0
        with:
          packages: scheme-basic eolang
          texlive_version: 2025
      - uses: actions/cache@v5
        with:
          path: |
            ${{ steps.setup.outputs.ghc-path }}
            ${{ steps.setup.outputs.cabal-path }}
            ${{ steps.setup.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('cabal.project', 'cabal.project.freeze') }}
          restore-keys: ${{ runner.os }}-cabal-
      - if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - if: runner.os == 'macOS'
        run: brew install libxml2
      - if: runner.os == 'macOS'
        run: |
            brew install tree coreutils make
            echo "PATH=/opt/homebrew/opt/make/libexec/gnubin:${PATH}" >> "${GITHUB_ENV}"
      - if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: libxml2
      - if: runner.os == 'Windows'
        shell: pwsh
        run: echo "C:\msys64\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
      - run: cabal update
      - run: cabal install hpc-codecov-0.6.3.0 --overwrite-policy=always
      - run: make clean coverage
      - if: runner.os == 'Linux'
        run: |
          set -e -o pipefail
          e=$(find dist-newstyle/ -name phino | head -1)
          (
            printf '\\documentclass{article}'
            printf '\\usepackage{eolang}'
            printf '\\begin{document}'
            printf '\\newcommand\\scopeof[1]{#1}'
            printf '\\newcommand\\isnormal[1]{#1}'
            "${e}" explain --normalize
            printf '{[[ x -> [[ y -> ? ]].y ]]}' | "${e}" rewrite --normalize --output=latex --sequence
            printf '\\end{document}'
          ) > article.tex
          pdflatex article
