# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: cabal
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  cabal:
    strategy:
      matrix:
        os: [macos-15, ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - id: setup
        uses: haskell-actions/setup@v2.8.2
        with:
          ghc-version: '9.6.7'
          cabal-version: '3.12.1.0'
      - uses: actions/cache@v4
        with:
          path: |
            ${{ steps.setup.outputs.ghc-path }}
            ${{ steps.setup.outputs.cabal-path }}
            ${{ steps.setup.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('cabal.project', 'cabal.project.freeze') }}
          restore-keys: ${{ runner.os }}-cabal-
      - if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - if: runner.os == 'macOS'
        run: brew install libxml2
      - if: runner.os == 'macOS'
        run: brew install tree coreutils
      - if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: libxml2
      - if: runner.os == 'Windows'
        shell: pwsh
        run: echo "C:\msys64\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
      - run: cabal update
      - run: cabal install fourmolu-0.17.0.0 --overwrite-policy=always
      - run: cabal install hlint-3.8 --overwrite-policy=always
      - run: make clean all
