# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: cabal
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        os: [macos-15, macos-15-intel]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: |
            ~/.ghcup
            ~/.cabal/packages
            ~/.cabal/store
            ~/.ghc
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('cabal.project', 'cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-cabal-
      - name: Set up GHC and Cabal (macOS Intel)
        if: matrix.os == 'macos-15-intel'
        run: |
          set -e
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | BOOTSTRAP_HASKELL_NONINTERACTIVE=1 BOOTSTRAP_HASKELL_MINIMAL=1 BOOTSTRAP_HASKELL_ADJUST_BASHRC=0 sh
          echo "$HOME/.ghcup/bin" >> $GITHUB_PATH
          export PATH="$HOME/.ghcup/bin:$PATH"
          ghcup install ghc 9.6.7
          ghcup set ghc 9.6.7
          ghcup install cabal 3.12.1.0
          ghcup set cabal 3.12.1.0
          ghc --version
          cabal --version
      - name: Set up GHC
        if: matrix.os != 'macos-15-intel'
        uses: haskell-actions/setup@v2.8.2
        with:
          ghc-version: '9.6.7'
          cabal-version: '3.12.1.0'
      - name: Install xmllint on Ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - name: Install xmllint on macOS
        if: runner.os == 'macOS'
        run: |
          brew install libxml2
      - name: Update package list
        run: cabal update
      - name: Build project
        run: cabal build all
      - name: Run tests
        run: cabal test all
