# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: codecov
'on':
  push:
    branches:
      - master
jobs:
  codecov:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.ghcup
            ~/.cabal/packages
            ~/.cabal/store
            ~/.ghc
            dist-newstyle
          key: ${{ runner.os }}-codecov-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('cabal.project', 'cabal.project.freeze') }}
          restore-keys: ${{ runner.os }}-codecov-
      - uses: haskell-actions/setup@v2.9.1
        with:
          ghc-version: '9.6.7'
          cabal-version: '3.12.1.0'
      - run: brew install libxml2
      - run: cabal update
      - run: cabal build all --enable-coverage
      - run: cabal test all --enable-coverage
      - run: cabal install hpc-codecov --overwrite-policy=always
      - run: hpc-codecov cabal:spec -x "$(find test -name '*.hs' -exec basename {} .hs \; | paste -sd, -)" --out=coverage.json
      - uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.json
          fail_ci_if_error: true
          verbose: true
