# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: hlint
'on':
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  hlint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/hlint-setup@v2
        with:
          version: '3.8'
      - uses: haskell-actions/hlint-run@v2
        with:
          path: '["src/", "app/", "test/"]'
          fail-on: warning
