# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: stack
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  STACK_ROOT: ${{ github.workspace }}/.stack-root
jobs:
  stack:
    strategy:
      matrix:
        os: [macos-15, ubuntu-24.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up GHC
        id: setup
        uses: haskell-actions/setup@v2.8.2
        with:
          ghc-version: '9.6.7'
          enable-stack: true
          stack-version: '3.5.1'
      - uses: actions/cache@v4
        with:
          path: |
            ${{ env.STACK_ROOT }}
            .stack-work
          key: ${{ runner.os }}-stack-${{ hashFiles('**/stack.yaml.lock') }}
          restore-keys: |
            ${{ runner.os }}-stack-
      - if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - if: runner.os == 'macOS'
        run: brew install libxml2
      - if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: libxml2
      - name: Add MSYS2 to PATH on Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: echo "C:\msys64\usr\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
      - run: stack setup
      - run: stack build --fast
      - run: stack test
