# SPDX-FileCopyrightText: Copyright (c) 2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: stack
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Cache ~/.stack (Linux/macOS)
        if: runner.os != 'Windows'
        uses: actions/cache@v4
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-global-${{ hashFiles('stack.yaml', 'stack.yaml.lock', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-global-

      - name: Cache .stack-work (Linux/macOS)
        if: runner.os != 'Windows'
        uses: actions/cache@v4
        with:
          path: .stack-work
          key: ${{ runner.os }}-stack-work-${{ hashFiles('stack.yaml', 'stack.yaml.lock', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-work-

      - name: Cache stack root (Windows)
        if: runner.os == 'Windows'
        uses: actions/cache@v4
        with:
          path: |
            ~\AppData\Roaming\stack
            ~\AppData\Local\Programs\stack
          key: ${{ runner.os }}-stack-global-${{ hashFiles('stack.yaml', 'stack.yaml.lock', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-global-

      - name: Cache .stack-work (Windows)
        if: runner.os == 'Windows'
        uses: actions/cache@v4
        with:
          path: .stack-work
          key: ${{ runner.os }}-stack-work-${{ hashFiles('stack.yaml', 'stack.yaml.lock', '**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-work-
      - name: Set up GHC
        uses: haskell-actions/setup@v2.8.2
        with:
          ghc-version: '9.6.7'
          enable-stack: true
          stack-version: '3.5.1'
          stack-setup-ghc: true
      - name: Build
        run: stack build --fast
      - name: Run tests
        run: stack test
